body {
  background-image: url("./assets/images/background-desktop.png");
  color: lightgray;
}

.logo {
  margin-top: 2rem;
}

.heading {
  display: flex;
  width: full;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: large;
}

.heading h1,
.heading h3 {
  color: white;
}

.form-body {
  display: flex;
  width: full;
  padding: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  font-size: smaller;
  gap: 6px;
}

.form-group input {
  height: 2rem;
  width: 20rem;
  border-radius: 10px;
  border: 1px solid gray;
  background-color: rgba(255, 255, 255, 0.1);
}

.form-group input.bg-button {
  background-color: rgba(255, 102, 61, 0.8);
  border: none;
  font-weight: bolder;
}

.input-upload {
  display: flex;
  width: 20rem;
  border: 2px dashed gray;
  border-radius: 8px;
  height: 6rem;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  background-color: rgba(255, 255, 255, 0.1);
}

.upload-icon {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 4px;
  border-radius: 6px;
}

.pattern-bottom {
  position:absolute;
  bottom: 0;
  left: 0;
}

.pattern-top {
  position: absolute;
  top: 5rem;
  right: 0;
}


