body {
  background-image: url("/assets/images/pattern-lines.svg"),
    url("/assets/images/pattern-circle.svg"),
    url("/assets/images/background-desktop.png");

  background-repeat: repeat, no-repeat, no-repeat;
  background-position: left top, 65% center, center;
  background-size: auto, 10%, cover;
  color: white;
  height: 90vh;
  width: 99%;
  box-sizing: border-box;
}

.heading {
  width: full;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-top: 3rem;
}

.name {
  background-image: linear-gradient(to left, white, rgba(255, 102, 61, 0.8));
  background-clip: text;
  color: transparent;
}

.para {
  color: grey;
  font-size: large;
}

.email {
  color: rgba(255, 102, 61, 0.8);
}

.ticket {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.ticket-card {
  width: 22%;
  height: 20vh;
  padding: 1rem;
  background-image: url("/assets/images/pattern-ticket.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 10%;
}

.generate {
  rotate: 90deg;
}

.ticket-card-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 0.2rem;
  box-sizing: border-box;
}

.date-location {
  font-size: smaller;
  padding-left: 3rem;
}

.ticket-info {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.email-ticket {
  font-size: smaller;
}

.name-ticket {
  font-size: large;
}

.ticket-info-info {
  display: flex;
  flex-direction: column;
}

.generate {
  color: grey;
  font-weight: 200;
  font-size: large;
}

.pattern-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}

.pattern-top {
  position: absolute;
  top: 5rem;
  right: 0;
}

@media only screen and (max-width: 600px) {

  body {
    padding-top: 5%;
    height: 100vh;
    width: 100%;
  }

  .heading {
    margin-top: 1rem;
  }

    .ticket-card {
    width: 90%;
    height: 25vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
  }

  .ticket-card-info {
    font-size: small;
    padding: 8px 0 6px 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0.5rem;
  }

  .ticket-card-top img{
    display: flex;
    flex-direction: column;
    gap: none;
  }

  .pattern-top img {
    height: 30%;
    width: 30%;
    position: relative;
    right: 0;
    top: 0;
    background-size: contain;
  }

  .pattern-bottom {
    display: none;
  }

  .pattern-bottom-mobile img {
   height: 100%;
    width: 100%;
    object-fit: cover;
  }
}