body {
  background-image: url("/assets/images/pattern-lines.svg"),
    url("/assets/images/pattern-circle.svg"),
    url("/assets/images/background-desktop.png");

  background-repeat: repeat, no-repeat, no-repeat;
  background-position: left top, 65% center, center;
  background-size: auto, 10%, cover;
  color: white;
  height: 90vh;
  width: 99%;
  box-sizing: border-box;
}

.heading {
  width: full;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-top: 3rem;
}

.name {
  background-image: linear-gradient(to left, white, rgba(255, 102, 61, 0.8));
  background-clip: text;
  color: transparent;
}

.para {
  color: grey;
  font-size: large;
}

.email {
  color: rgba(255, 102, 61, 0.8);
}

.ticket {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.ticket-card {
  width: 22%;
  height: 20vh;
  padding: 1rem;
  background-image: url("/assets/images/pattern-ticket.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 10%;
}

.generate {
  rotate: 90deg;
}

.ticket-card-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 0.2rem;
  box-sizing: border-box;
}

.date-location {
  font-size: smaller;
  padding-left: 3rem;
}

.ticket-info {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.email-ticket {
  font-size: smaller;
}

.name-ticket {
  font-size: large;
}

.ticket-info-info {
  display: flex;
  flex-direction: column;
}

.generate {
  color: grey;
  font-weight: 200;
  font-size: large;
}

.pattern-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}

.pattern-top {
  position: absolute;
  top: 5rem;
  right: 0;
}
